*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* header */

/* Navbar */

.navbar{
    background-color: #1d596b !important;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-link{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
.navbar-nav .nav-link:hover{
    color: rgb(45, 21, 184);
}

.navbar .dropdown-menu.show {
    display: block;
    background-color: darkcyan;
    margin-top: 14px;
}

.navbar .dropdown-item {
color: white;
}

.navbar .dropdown-item:hover {
background-color: blue;
}

/* Clients */
#clients{
    background-color:#40767a;
}

#clients h1{
    margin-top: 25px;
    color: lightgray;
}

#clients p{
    margin-top: 25px;
    color: lightgray;
    font-size: 20px;
}

/* Products */

#product{
    background-color: aliceblue;
}

#product .product-row b{
    display: inline-block;
    margin-top: 15px;
}

#product .product-row p{
    margin-top: 15px;
}

#product .prod-header {
    margin-top: 25px;
    color: #0a585d;
}

/* Contact */

#contact{
    background-color: #38e8ff;
}

#contact .cont-header{
    color: #3853e9;
}

#contact p{
    margin-top: 20px;
    font-size: 20px;
}

#contact .contact-row{
    margin-top: 40px;
    margin-bottom: 15px;
}

#contact .btn-contact {
    text-align: center;
    margin-top: 30px;
}

#contact .btn-contact .button {
    text-decoration: none;
    color: rgb(63, 60, 60);
    background-color: rgb(11 145 175);
    text-align: center;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    
}

#footer{
    background-color: #1d596b;
}

#footer h5{
margin-top: 6px;
}

/* Modal */

.modal {
    margin-top: 70px;
    margin-left: 50px;
}

.modal a{
text-decoration: none;
}

/* Media Query */

@media only screen and (min-width: 100px) and (max-width: 767px) {

    #header .account-create{
        margin-top: 25px;
    }

    .modal{
        margin-top: 100px;
        margin-left: 0;
        padding: 15px;
    }

#clients img{
    width: 100%;
    padding: 20px;
}
    
#product .col-md-2{    
width: 50%;
margin: auto;
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .0) !important;        
}

#product address{
    margin-top: 30px;   
}

#contact .form-floating {
    margin-top: 25px;
}

}


@media only screen and (min-width: 768px) and (max-width: 1199px) {

    #header .btn {
        width: 100%;
        padding: 0px;
        }
}